<div class="jumbotron">
  <h2>ABOUT US!</h2>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima accusantium, veritatis necessitatibus, aliquid eum itaque dolorum facilis ex similique quos sequi, ipsum distinctio eos iure ea nemo! Itaque, doloribus odio!
  </p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima accusantium, veritatis necessitatibus, aliquid eum itaque dolorum facilis ex similique quos sequi, ipsum distinctio eos iure ea nemo! Itaque, doloribus odio!
  </p>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima accusantium, veritatis necessitatibus, aliquid eum itaque dolorum facilis ex similique quos sequi, ipsum distinctio eos iure ea nemo! Itaque, doloribus odio!
  </p>
</div>

